html {
    overflow-x: hidden;
}

/* Estilo personalizado para la barra de navegación */
.navbar {
    background-color: #242637;
    /* background-color: #0f2a44; */
    /* background-color: #25394d; */
    /* background-color: #25303b; */
    /* background-color: #343a40; */
    /* Color oscuro */
    height: 80px;
    /* Ajusta la altura de la barra de navegación */
    border-bottom: 4px solid #1f9981;
    /* border-bottom: 4px solid #2671a3; */
    padding: 2% 10% 2% 5%;
    width: 100%;
    position: fixed;
    /* Agregamos esta línea */
}

/* MENU */
.contenedor-header {
    /* background: #1e2326; */
    /* background: #15252f; */
    background-color: #242637;
    /* border-bottom: 4px solid #1f9981; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 80px;
    background-color: #242637;
    /* box-shadow: 0 0 5px rgb(144 162 166 / 70%); */
    box-shadow: 0 0 15px rgb(50 255 230 / 70%);
}

.logoj {
    height: min-content;
    display: flex;
    align-items: center;
}

.contenedor-header header {
    max-width: 100%;
    /* margin: 1%; */
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.contenedor-header header .logoj a {
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
    height: min-content;
    padding: 0px;
    margin-left: 4%;
    font-family: math;
    font-family: Homemade Sausage;
    font-family: Cascadia Code;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0px 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    transition: transform 3s, filter 3s;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    color: #fff;
    color: #caf6f0;
    text-decoration: none;
    transition: color 0.2s;
}

.contenedor-header header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Ajusta la distancia del subrayado */
    width: 100%;
    height: 2px;
    background: #fff;
    /* Cambia el color si lo deseas */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
}

#nav ul li a:hover::after,
#nav ul li a:focus::after {
    transform: scaleX(1);
}

/* .contenedor-header header nav ul li a:hover { */
    /* color: #1CB698 !important; */
    /*     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    background-color: rgb(22, 44, 59);
    background-color: #0c4b3f;
    /* background-color: #2671a3; */
    /*  transform: scale(1.4) !important;
    filter: brightness(1.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); */
    /* color: #28a745; */
   /*  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    background-color: rgba(12, 75, 63, 0.8); */
    /* Color de fondo semitransparente */
    /* backdrop-filter: blur(10px); */
    /* Aplica un filtro de desenfoque al fondo */
   /*  transform: scale(1.4); */
    /* Escala el tamaño del enlace al hacer hover */
 /*    filter: brightness(1.5); */
    /* Ajusta el brillo de las letras */
    /* box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); */
    /* Agrega una sombra */
/* } */


.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.navbar-expand-lg .navbar-collapse {
    height: 100%;
}

.navbar-brand img {
    max-width: 60px;
    /* Ajusta el tamaño máximo de la imagen del logo */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
    /* Texto blanco */
    font-size: 18px;
    /* Tamaño del texto */
}

.navbar-nav .nav-link {
    transition: transform 3s, filter 3s;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    background-color: rgb(22, 44, 59);
    background-color: #0c4b3f;
    /* background-color: #2671a3; */
    transform: scale(1.1);
    /* agranda la imagen al hacer hover */
    filter: brightness(1.5);
    /* resalta la imagen al hacer hover */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: #28a745;
    /* Cambia de color al pasar el mouse */
}

.nav-link {
    padding: 16px 8px 16px 8px;
    margin: 0%;
    border: 0%;
}

nav {
    padding: 0%;
}

.navbar-nav ml-auto {
    margin: 0%;
    height: 90%;
}

.logojb {
    margin: 1%;
    height: 60px;
}

#inicio h1 {
    font-size: 20px;
}

#inicio {
    background-image: url('../images/hacer-curso-carrera-programador.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* Color del texto en el div */
    text-align: center;
    overflow: hidden;
    /* Para ocultar el texto que se desborda durante la animación */
}

#animacion-texto {
    font-size: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    /* Evita que el texto se rompa en varias líneas */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    border-right: 2px solid #ffffff;
    /* Simula el cursor de escritura */
    max-width: min-content;
    display: inline-block;
    height: 20px;
}

#sobre-mi,
.sobre-mi {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

.sobre-mi {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}

#sobre-mi {
    background-image: linear-gradient(to bottom right, #1d1c45, #243d4e);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    align-items: center;
    /*     background-color: #0f2a44;
    height: max-content; */
}


.fixed-buttons {
    position: fixed;
    bottom: 20px;
    /* Ajusta según la separación desde la parte inferior */
    right: 20px;
    /* Ajusta según la separación desde la parte derecha */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.config-button,
.sun-button {
    margin-bottom: 10px;
    /* Ajusta el espacio entre los botones */
    width: 10%;
}

.avatar {
    width: 80%;
    border-radius: 50%;
    background-color: #2d4440;
    /* background-color: #b6c6f9; */
    padding: 2%;
}

.seccion_sobre_mi {
    width: 85%;
}

.texto_sobre_mi {
    text-align: justify;
}

#habilidades {
    background-image: linear-gradient(to bottom right, #29364d, #010110);
    /*  background-image: linear-gradient(to bottom right, #29364d, #0c0c12); */
    /* background-image: linear-gradient(to bottom right, #29364d, #000000); */
    /* background-image: linear-gradient(to bottom right, #2b384e, #020137); */
    /* background-image: linear-gradient(to bottom right, #4b6287, #020137); */
    /*  background-image: linear-gradient(to bottom right, #6792ae,#050443); */
    color: white;
}

article {
    width: 100%;
}

h2 {
    padding: 2%;
    font-size: larger;
    text-align: center;
}

h4 {
    font-size: 10px;
}

h5 {
    font-size: small;
}

.ocultar {
    display: none;
}

p {
    font-size: xx-small;
}

.logos_habilidades {
    display: flex;
    justify-content: space-around;
    /* Distribuye uniformemente los elementos dentro del contenedor */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan a una nueva línea si no hay suficiente espacio */
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.foto_menu {
    width: 10%;
    object-fit: contain;
    transition: transform 3s, filter 3s, box-shadow 3s;
    /* agrega una transición suave */
}

#github_logo {
    border: 1px solid #fff;
    /* Borde blanco */
    border-radius: 50%;
    /* Hace el borde circular */
    box-sizing: border-box;
    /* Incluye el borde en el tamaño total */
    background: #fff;
}


#proyectos {
    margin: 0;
    /*     background-image: linear-gradient(to bottom right, #1d1c45, #243d4e);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(to bottom right, #091941, #212333);
    box-shadow: inset 0 0 1000px rgba(0, 10, 0, 10);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}

#mis_proyectos {
    display: flex;
    justify-content: space-evenly;
    /* Distribuye uniformemente las imágenes dentro de cada "menu" */
    width: 100%;
    /* Asegura que el ancho del "menu" sea el 100% del contenedor padre */
    margin-bottom: 1.5%;
    /* Agrega un espacio entre conjuntos de imágenes */
    margin-top: 1.5%;
    flex-direction: row;
}

.menu_proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.proyecto {
    width: 80%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom right, #4b6287, #020137); */
    /*  background-image: linear-gradient(to bottom right, #394a67, #013337); */
    /* background-image: linear-gradient(to bottom right, #112d5e, #292c3f);
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(to bottom right, #0f2957, #292c3f);
    box-shadow: inset 0 0 200px rgba(0, 0.5, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgb(101 206 164 / 25%);
    box-shadow: 7px 13px 37px #000;
    align-items: center;
    border-radius: 5%;
    margin: 2%;
}

.img_proyect {
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 2%;
}

.color {
    /* color: #b90303; */
    /* color: #294cad; */
    color: #1CB698;
}

.descripcion_proyecto {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.botones_proyectos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.btn_proy {
    margin: 2.5%;
}

.btn_descargar {
    width: 20%;
    margin: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    /*Buttons de las páginas ADMINISTRADOR,CONTACTO, OFERTA y TURNOS*/
    /* background-color: #356d7c; */
    background-color: #148f77;
    border-radius: 10px;
    color: white;
    border-color: white;
}

button:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    /* Agrega una sombra */
}

.img_button {
    width: 10%;
    margin: 2%;
}

.contenedor {
    /*Gran contenedor para los forms de cada página*/
    width: 70%;
    padding: 30px;
    background: #2e3f4f;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    background-color: #292c3f;

}

.contenedor#contacto {
    /*Pagina CONTACTO*/
    width: 80%;
    margin: 3%;
}

.datos_form {
    /* Sections de la página CONTACTO */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    /*Inputs de las páginas ADMINISTRADOR, CONTACTO y TURNOS*/
    width: 100%;
    color: black;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: small;
    background-color: transparent;
    border: 1px solid #fff0;
    border-bottom: 2px solid #818181;
}

#form_cargar_datos {
    /*Formulario de ADMINISTRADOR y CONTACTO*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_cargar_datos #botonEnviar {
    /*Botón enviar del formulario de ADMINISTRADOR y CONTACTO*/
    font-size: medium;
    width: 100%;
}

#form_cargar_datos #botonGuardar {
    /*Botón para guardar después de editar*/
    font-size: medium;
    width: 50%;
}

textarea {
    /* Para la página de ADMINISTRADOR y CONTACTO */
    width: 100%;
    color: black;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    height: 90px;
    background-color: transparent;
    /* opacity: 20%; */
    border: 1px solid #fff0;
    border-bottom: 2px solid #959292;
}

.ubicacion {
    /* Sección para el maps de la página CONTACTO */
    display: flex;
    justify-content: center;
    margin: 5%;
    width: 80%;
    height: 200px;
    margin-bottom: 15%;
}

#map {
    /* Div contenedor del mapa de la página CONTACTO */
    height: 100%;
    width: 100%;
    border-radius: 2%;
    box-shadow: 2px 20px 27px #000
}

.contacto {
    background-color: #212333;
    /* background-image: linear-gradient(to bottom right, #4b6287, #020137); */
    /*  background-image: linear-gradient(to bottom right, #6792ae,#050443); */
    color: white;
}

.cont_contacto {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.educacion {
    background-color: #212333;
    color: #fff;
    padding: 0px 0px;
}

.educacion .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.educacion .fila {
    display: flex;
    justify-content: space-between;
}

.educacion .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.educacion .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 5px;
}

.educacion .fila .item {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #2c3b47;
    position: relative;
}

.educacion .fila .derecha {
    border-left: 0px solid #252A2E;
}

.educacion .fila .col {
    width: 49%;
    padding: 0 5px;
}

.col {
    flex: 1 0 0%;
}

.educacion .fila .item .conectord {
    height: 1px;
    background-color: #1CB698;
    width: 14px;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 5;
}

.educacion .fila .item .conectori {
    height: 1px;
    background-color: #1CB698;
    width: 13px;
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 5;
}

.educacion .fila .item .conectord .circulod {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 2.3px;
}

.educacion .fila .item .conectori .circuloi {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 2.3px;
}

.educacion .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 5px;
}

.educacion .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.educacion .fila .item .fecha {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
    font-size: 10px;
}

.educacion .fila .item .casa {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
    font-size: 10px;
}

.footer {
    /* background-color: #242937; */
    background-color: #2e3f3f;
    background-color: #242637;
    /* box-shadow: 0 0 5px rgb(144 162 166 / 70%); */
    box-shadow: 0 0 5px rgb(50 255 230 / 70%);
    color: #ffffff;
    padding: 40px 0;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icon img {
    width: 20px;
}

.git {
    border-radius: 50%;
}

.whatsapp {
    border-radius: 50%;
}

.back-to-top {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);

}

.back-to-top img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.5s, filter 0.5s;
    border-radius: 50%;
}


body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #22ae92;
    border-radius: 5px;
}

/* body{
    background-color: #0f2a44;
} */

body {
    overflow-x: hidden;
}

.logo {
    transition: transform 0.5s, filter 0.5s;
}

.logo:hover {
    transform: scale(1.5);
    /* agranda la imagen al hacer hover */
    filter: brightness(1.5);
    /* resalta la imagen al hacer hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    /* agrega un resplandor blanco al hacer hover */
}

.back-to-top img:hover {
    transform: scale(125%);
    /* agranda la imagen al hacer hover */
    filter: brightness(1.5);
    /* resalta la imagen al hacer hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    /* agrega un resplandor blanco al hacer hover */
}

/* .foto_menu:hover {
    transform: scale(2); /* agranda la imagen al hacer hover */
/* filter: brightness(1.5); /* resalta la imagen al hacer hover */
/*  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);  */
/* agrega un resplandor blanco al hacer hover */
/* } */
/* /* /* /* /* Añade estilos de animación para las secciones y el footer */
/* Añade estilos de animación para los artículos */
/* article {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

article.animate {
    opacity: 1;
    transform: translateY(0); 
} */

/* Ajusta otros estilos según tus preferencias   */

@media screen and (min-width: 400px) {
    #inicio h1 {
        font-size: 35px;
    }

}

@media screen and (min-width: 450px) {
    #inicio h1 {
        font-size: 45px;
    }

    #animacion-texto {
        font-size: 20px;
        height: 30px;
    }
}































































































@media screen and (min-width: 640px) {
    .ocultar {
        display: block;
    }

    /* Estilo personalizado para la barra de navegación */
    .navbar {
        height: 80px;
        padding: 0%;
    }

    .navbar-brand img {
        max-width: 60px;
        /* Ajusta el tamaño máximo de la imagen del logo */
    }

    .navbar-expand-lg .navbar-nav {
        height: 90%;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand,
    .navbar-nav .nav-link {
        font-size: 18px;
        /* Tamaño del texto */
    }

    .navbar-nav .nav-link {
        transition: transform 3s, filter 3s;
        border-radius: 5px;
        height: 100%;
    }


    .nav-link {
        padding: 16px 8px 16px 8px;
        margin: 0%;
        border: 0%;
    }

    nav {
        padding: 0%;
    }

    .navbar-nav ml-auto {
        margin: 0%;
        height: 100%;
    }

    .logojb {
        /* margin: 1%; */
        height: 70px;
        margin: 0% 1%;
    }

    #inicio h1 {
        font-size: 60px;
    }

    #inicio {
        height: 100vh;
        text-align: center;
        overflow: hidden;
        /* Para ocultar el texto que se desborda durante la animación */
    }

    #animacion-texto {
        font-size: 36px;
        margin-bottom: 20px;
        white-space: nowrap;
        /* Evita que el texto se rompa en varias líneas */
        overflow: hidden;
        /* Oculta el texto que se desborda */
        border-right: 2px solid #ffffff;
        /* Simula el cursor de escritura */
        max-width: min-content;
        display: inline-block;
        height: 50px;
    }



    .sobre-mi {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* #sobre-mi{
    background-color: #0f2a44;
    height: max-content;
}
 */

    .fixed-buttons {
        position: fixed;
        bottom: 20px;
        /* Ajusta según la separación desde la parte inferior */
        right: 20px;
        /* Ajusta según la separación desde la parte derecha */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .config-button,
    .sun-button {
        margin-bottom: 10px;
        /* Ajusta el espacio entre los botones */
        width: 10%;
    }

    .avatar {
        width: 30%;
        border-radius: 50%;
        padding: 2%;
    }

    .seccion_sobre_mi {
        width: 35%;
    }

    .texto_sobre_mi {
        text-align: justify;
    }


    h2 {
        padding: 2%;
        font-size: xx-large;
    }

    #habilidades h2,
    .contacto h2,
    #proyectos h2,
    .educacion h2 {
        text-align: center;
    }

    .logos_habilidades {
        display: flex;
        justify-content: space-around;
        /* Distribuye uniformemente los elementos dentro del contenedor */
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan a una nueva línea si no hay suficiente espacio */
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        /* Distribuye uniformemente las imágenes dentro de cada "menu" */
        width: 100%;
        /* Asegura que el ancho del "menu" sea el 100% del contenedor padre */
        margin-bottom: 1.5%;
        /* Agrega un espacio entre conjuntos de imágenes */
        margin-top: 1.5%;
    }

    .foto_menu {
        width: 10%;
        object-fit: contain;
        transition: transform 3s, filter 3s, box-shadow 3s;
        /* agrega una transición suave */
    }

    #proyectos {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    #mis_proyectos {
        display: flex;
        justify-content: space-evenly;
        /* Distribuye uniformemente las imágenes dentro de cada "menu" */
        width: 100%;
        /* Asegura que el ancho del "menu" sea el 100% del contenedor padre */
        margin-bottom: 1.5%;
        /* Agrega un espacio entre conjuntos de imágenes */
        margin-top: 1.5%;
        flex-direction: row;
    }

    .menu_proyectos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .proyecto {
        width: 30%;
        object-fit: contain;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 5%;
    }

    .img_proyect {
        width: 95%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border-radius: 2%;
    }


    .descripcion_proyecto {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .botones_proyectos {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .btn_proy {
        margin: 2.5%;
    }

    button {
        /*Buttons de las páginas ADMINISTRADOR,CONTACTO, OFERTA y TURNOS*/
        border-radius: 10px;
    }


    .img_button {
        width: 10%;
        margin: 2%;
    }

    .contenedor {
        /*Gran contenedor para forms */
        width: 70%;
        padding: 30px;

        margin: auto;
        margin-top: 1%;
        margin-bottom: 5%;
        border-radius: 4px;
        font-family: 'calibri';

    }

    .contenedor#contacto {
        /*Pagina CONTACTO*/
        width: 40%;
        margin: 3%;
    }

    .datos_form {
        /* Sections de la página CONTACTO */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        /*Inputs de las páginas ADMINISTRADOR, CONTACTO y TURNOS*/
        width: 100%;
        margin-top: 2%;
        margin-bottom: 3%;
        border-radius: 5px;
        font-size: small;
    }

    #form_cargar_datos {
        /*Formulario de ADMINISTRADOR y CONTACTO*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form_cargar_datos #botonEnviar {
        /*Botón enviar del formulario de ADMINISTRADOR y CONTACTO*/
        font-size: medium;
        width: 100%;
    }

    #form_cargar_datos #botonGuardar {
        /*Botón para guardar después de editar*/
        font-size: medium;
        width: 50%;
    }

    textarea {
        /* Para la página de ADMINISTRADOR y CONTACTO */
        width: 100%;
        margin-top: 2%;
        margin-bottom: 3%;
        border-radius: 5px;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        height: 90px;
    }

    .ubicacion {
        /* Sección para el maps de la página CONTACTO */
        display: flex;
        justify-content: center;
        margin: 5%;
        width: 50%;
    }

    #map {
        /* Div contenedor del mapa de la página CONTACTO */
        height: 100%;
        width: 95%;
    }


    .cont_contacto {
        color: white;
        display: flex;
        flex-direction: row;
    }


    .educacion {
        background-color: #212333;
        color: #fff;
        padding: 50px 20px;
    }

    .educacion .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .educacion .fila {
        display: flex;
        justify-content: space-between;
    }

    .educacion .fila .izquierda {
        border-right: 2px solid #252A2E;
    }

    .educacion .fila .izq {
        border-right: 2px solid #1CB698;
        margin-right: 20px;
    }

    .educacion .fila .item {
        padding: 25px;
        margin-bottom: 30px;
        background-color: #2c3b47;
        position: relative;
    }

    .educacion .fila .derecha {
        border-left: 0px solid #252A2E;
    }

    .educacion .fila .col {
        width: 49%;
        padding: 0 20px;
    }

    .col {
        flex: 1 0 0%;
    }

    .educacion .fila .item .conectord {
        height: 2px;
        background-color: #1CB698;
        width: 47px;
        position: absolute;
        top: 50%;
        left: -47px;
        z-index: 5;
    }

    .educacion .fila .item .conectori {
        height: 2px;
        background-color: #1CB698;
        width: 47px;
        position: absolute;
        top: 50%;
        right: -47px;
        z-index: 5;
    }

    .educacion .fila .item .conectord .circulod {
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #1CB698;
        float: left;
        position: relative;
        bottom: 4px;
    }

    .educacion .fila .item .conectori .circuloi {
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #1CB698;
        float: right;
        position: relative;
        bottom: 4px;
    }

    .educacion .fila .der {
        border-left: 2px solid #1CB698;
        margin-left: 20px;
    }

    .educacion .fila .item {
        padding: 25px;
        margin-bottom: 30px;
        background-color: #252A2E;
        position: relative;
    }

    .educacion .fila .item .fecha {
        display: block;
        color: #1CB698;
        margin-bottom: 10px;
    }

    .educacion .fila .item .casa {
        display: block;
        color: #1CB698;
        margin-bottom: 10px;
    }

    .footer {
        color: #ffffff;
        padding: 40px 0;
        position: relative;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: 20px;
    }

    .footer-icon img {
        width: 30px;
    }

    .git {
        border-radius: 50%;
    }

    .back-to-top {
        position: absolute;
        top: 0%;
        transform: translateY(-50%);

    }

    .back-to-top img {
        width: 60px;
        cursor: pointer;
        transition: transform 0.5s, filter 0.5s;
        border-radius: 50%;
    }


    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-thumb {
        background: #22ae92;
        border-radius: 5px;
    }

    /* body{
    background-color: #0f2a44;
} */

    body {
        overflow-x: hidden;
    }

    .logo {
        transition: transform 0.5s, filter 0.5s;
    }

    .logo:hover {
        transform: scale(1.5);
        /* agranda la imagen al hacer hover */
        filter: brightness(1.5);
        /* resalta la imagen al hacer hover */
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        /* agrega un resplandor blanco al hacer hover */
    }

    .back-to-top img:hover {
        transform: scale(125%);
        /* agranda la imagen al hacer hover */
        filter: brightness(1.5);
        /* resalta la imagen al hacer hover */
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        /* agrega un resplandor blanco al hacer hover */
    }

    /* .foto_menu:hover {
    transform: scale(2); /* agranda la imagen al hacer hover */
    /* filter: brightness(1.5); /* resalta la imagen al hacer hover */
    /*  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);  */
    /* agrega un resplandor blanco al hacer hover */
    /* } */
    /* /* /* /* /* Añade estilos de animación para las secciones y el footer */
    /* Añade estilos de animación para los artículos */
    /* article {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

article.animate {
    opacity: 1;
    transform: translateY(0); 
} */

    /* Ajusta otros estilos según tus preferencias   */
}

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}


@media screen and (min-width: 1100px) {
    #inicio h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: larger;
    }

    .educacion .fila .item .casa {
        font-size: 13px;
    }

    .educacion .fila .item .fecha {
        font-size: 13px;
    }

    p {
        font-size: medium;
    }

    .ubicacion {
        height: 400px;
    }
}