/* Estilo personalizado para la barra de navegación */
.navbar {
    background-color: #0f2a44;
    /* background-color: #25394d; */
    /* background-color: #25303b; */
    /* background-color: #343a40; */ /* Color oscuro */
    height: 80px; /* Ajusta la altura de la barra de navegación */
}

.navbar-brand img {
    max-width: 60px; /* Ajusta el tamaño máximo de la imagen del logo */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff; /* Texto blanco */
    font-size: 18px; /* Tamaño del texto */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #28a745; /* Cambia de color al pasar el mouse */
}

nav {
    padding: 0%;
}

.logo {
    margin: 1%;
}

#inicio h1 {
    font-size: 100px;
}

#inicio {
    background-image: url('../images/hacer-curso-carrera-programador.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Color del texto en el div */
    text-align: center;
    overflow: hidden; /* Para ocultar el texto que se desborda durante la animación */
}

#animacion-texto {
    font-size: 36px;
    margin-bottom: 20px;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    border-right: 2px solid #ffffff; /* Simula el cursor de escritura */
    max-width: min-content;
    display: inline-block;
    height: 50px;
}
#sobre-mi {
    background-color: #3498db;
    margin: 0;
    background-image: linear-gradient(to bottom right, #1d1c45, #243d4e);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
  }
/* #sobre-mi{
    background-color: #0f2a44;
    height: max-content;
}
 */

.fixed-buttons {
    position: fixed;
    bottom: 20px; /* Ajusta según la separación desde la parte inferior */
    right: 20px; /* Ajusta según la separación desde la parte derecha */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.config-button,
.sun-button {
    margin-bottom: 10px; /* Ajusta el espacio entre los botones */
}
.avatar{
    width: 30%;
    border-radius: 50%;
    background-color: #b6c6f9;
    padding: 2%;
}
.seccion_sobre_mi{
    width: 35%;
}
.texto_sobre_mi{
    text-align: justify;
}